

/* -------- Project style --------- */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", system-ui;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
body.active{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
:root {
    --yellow: #FDCE00;
    --black: #000000;
    --text-gray: #7E7E7E;
    --item-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --image-box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
a {
    text-decoration: none;
    font-family: "Poppins", system-ui;
    color: var(--black);
}
h1 {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}

h2 {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

h3 {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: var(--yellow);
}
p {
    margin: 0;
}

#back-button {
    top: 35px;
    left: 66px;
    position: fixed;
    transform: translateX(-8px);
    display: flex;
    flex-direction: row;
    width: 68px;
    justify-content: space-between;
    z-index: 800;

}
#back-button p {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

/* -------- Cart style ---------- */

#cart {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 6;
    transition: 200ms ease-in-out;

    
}
#cart-body {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 812px;
    height: 634px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--image-box-shadow);

}
#cart-body #cart-header {
    display: flex;
    justify-content: center;
}
#cart-body #cart-header h1{
    font-weight: 600;
    font-size: 32px;
}

#cart-body #cart-items-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    overflow: auto;
    max-height: 410px;
}
#cart-body #cart-items-container::-webkit-scrollbar {
    display: none;
}
#cart-body #cart-items-container #cart-items-container-flex-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#cart-body #cart-items-container .item-in-cart {
    width: 764px;
    height: 82px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--item-box-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#cart-body #cart-items-container .item-in-cart h2 {
    font-size: 20px;
}
#cart-body #cart-items-container .item-in-cart .delete-button img{
    width: 24px;
}
#cart-body #cart-items-container .item-in-cart .item-left-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

#cart-body #cart-items-container .item-in-cart .item-left-section .edit-icon {
    height: 24px;
}
#cart-body #cart-items-container .item-in-cart img {
    height: 62px;
    width: auto;
}
#cart-body #cart-items-container .item-in-cart .image-cropper {
    width: 62px;
    height: 62px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--image-box-shadow);
}
#cart-body #cart-items-container .item-in-cart .item-right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    margin-right: 30px;
}

#cart-body #cart-items-container .item-in-cart .item-right-section .increse-decrese {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    
}
#cart-body #cart-items-container .item-in-cart .item-right-section .increse-decrese img {
    height: 24px;
}
#cart-body #cart-bottom {
    width: 100%;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#cart-body #cart-bottom #pay-btn {
    width: 238px;
    height: 50px;
    background-color: var(--yellow);
    border-radius: 10px;
    border: none;
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 30px;
}
#cart-body #cart-bottom #total {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    margin-right: 30px;
}
#cart #back-button {
    
    display: flex;
    flex-direction: row;
    width: 68px;
    justify-content: space-between;
    margin-left: 66px;
    margin-top: 35px;
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
#cart.active {
    transform: translate(-50%, -50%) scale(1);
}
#all-content-container.active {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    pointer-events: none;
    z-index: 4;
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}


/* -------- Menu Editor style ---------- */

.menu-editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 20;
    transition: 200ms ease-in-out;
    
}
.menu-editor.editor-active {
    transform: translate(-50%, -50%) scale(1);
}
.menu-editor .menu-body {
    height: 642px;
    width: 545px;
    background-color: white;
    border-radius: 15px;
    transform: translate(0, 7%) scale(1);
    
}
.menu-editor .image-cropper {
    position: absolute;
    width: 205px;
    height: 205px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -28%);
    border-radius: 50%;
    box-shadow: var(--image-box-shadow);
    z-index: 3;
}
.menu-editor .image-cropper img {
    width: 370px;
}
.menu-editor .menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--item-box-shadow);
}
.menu-editor .menu-body .menu-editor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;

}
.menu-editor .menu-body .menu-editor-header h1 {
    margin: 0;
}
.menu-editor .menu-body .description {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    color: #7E7E7E;
    margin-bottom: 15px;
}



.menu-editor .menu-body .list-container {
    height: 700px;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    max-height: 410px;
    margin-left: 40px;
    margin-right: 40px;
}
.menu-editor .menu-body .list-container::-webkit-scrollbar {
    display: none;
}
.menu-editor .menu-body .list-container .editor-list {
    padding-left: 0;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}
.menu-editor .menu-body .list-container .editor-list li {
    
}
.menu-editor .menu-body .list-container .editor-list li.list-active {
    padding-bottom: 0px;
}
.menu-editor .menu-body .list-container .editor-list .nested {
    list-style: inside url(resources/img/list-not-checked.svg);
    padding-top: 10px;
    font-weight: 400;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /*height: 0%;
    transform: scale(0);*/
}
.menu-editor .menu-body .list-container > li {
    cursor: pointer;
}
.menu-editor .menu-body .list-container .editor-list .nested.list-active {
    max-height: 900px;
}
.menu-editor .menu-body .list-container .editor-list .nested li  {
    padding-bottom: 20px;
}
.menu-editor .menu-body .list-container .editor-list .nested li::after {
    margin-left: 30px;
}
.menu-editor .menu-body .menu-editor-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}
.menu-editor .menu-body .menu-editor-bottom .plus-minus-button-editor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 148px;
    height: 46px;
    border-radius: 9px;
    background-color: black;
    color: white;
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 40px;
}
.menu-editor .menu-body .menu-editor-bottom .plus-minus-button-editor .minus-button-editor {
    margin-left: 30px;
}
.menu-editor .menu-body .menu-editor-bottom .plus-minus-button-editor .plus-button-editor {
    margin-right: 30px;
}

.menu-editor .menu-body .menu-editor-bottom .add-to-cart-button-editor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 274px;
    height: 46px;
    border-radius: 9px;
    background-color: var(--yellow);
    color: black;
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-right: 40px;
}
.menu-editor .menu-body .menu-editor-bottom .add-to-cart-button-editor h2 {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 25px;
}
.menu-editor .menu-body .menu-editor-bottom .add-to-cart-button-editor span {
    margin-right: 25px;
}
/* -------- Header style ---------- */
#container {
    transition: opacity 0.3s;
}
header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 128px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    box-shadow: -6px 6px 15px -5px rgba(0,0,0,0.1);
}

header #top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 66px;
    padding-right: 66px;
}

header #top-header #vaca-logo {
  margin-left: 443px;
}
#random { 
    position: fixed;
    height: 100px;
    width: 300px;
    background-color: #FDCE00;
    z-index: 200;
}
header #top-header #nav-right-section{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}

header #top-header #nav-right-section #language-selector {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

header #top-header #nav-right-section #language-selector img {
    height: 30px;
}

#cart-icon {
    position: relative;
}

#cart-icon img {
    height: 35px;
}

#cart-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: -20%;
    right: -10px;
}

header #bottom-header {
    padding: 0;
    padding-left: 66px;
    padding-right: 66px;
}

#nav {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 0;
}

.sticky {
    transform: translateY(-81px);
}




/* ------- Menu section -------- */
#container {
    padding-left: 66px;
    padding-right: 66px;
    margin-top: 150px;
}

.item {
    margin-top: 61.5px;
}

.item p {
    color: var(--text-gray);
    font-size: 12px;
}

.card-body {
    background-color: white;
    width: 167px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px 20px 25px;
    gap: 20px;
    box-shadow: var(--item-box-shadow);
}
.items-container-menu {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.item .item-image {
    width: auto;
    height: 123px;
}
.item .image-cropper {
    width: 123px;
    height: 123px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--image-box-shadow);
}
.item-image-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 47px -61.5px;
}
.item h2 {
    text-align: center;
}
.sticker-container {
    position: absolute;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    translate: 203px 20px;
    mix-blend-mode: multiply;
}
/* -------- Menus section --------- */

#menus .card-body {
    height: 257px;
    
}

/* -------- Sides section --------- */

.items-container-sides {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#sides .card-body {
    height: 240px;
    
}

.add-item-to-cart {
    background-color: var(--yellow);
    border: none;
    border-radius: 15px;
    width: 170px;
    padding: 10px;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: white;
}

/* -------- Snacks section --------- */

.items-container-snacks {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#snacks .card-body {
    height: 250px;
    
}

/* -------- Burritos section --------- */

.items-container-burritos {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#burritos .card-body {
    height: 280px;
    
}

/* -------- Burritos section --------- */

.items-container-tacos {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#tacos .card-body {
    height: 310px;
    
}

/* -------- Bowls section --------- */

.items-container-bowls {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#bowls .card-body {
    height: 250px;
    
}

/* -------- Quesadilla section --------- */

.items-container-quesadilla {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#quesadilla .card-body {
    height: 310px;
    
}

/* -------- Vegan section --------- */

.items-container-veg {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#veg .card-body {
    height: 310px;
    
}

/* -------- Dessert section --------- */

.items-container-dessert {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#dessert .card-body {
    height: 250px;
    
}

/* -------- Dips section --------- */

.items-container-dips {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#dips .card-body {
    height: 200px;
    
}

/* -------- Water section --------- */

.items-container-water {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#water .card-body {
    height: 200px;
    
}


/* -------- Soda section --------- */

.items-container-soda {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#soda .card-body {
    height: 210px;
    
}

/* -------- Beer section --------- */

.items-container-beer {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}

#beer .card-body {
    height: 220px;
    
}





/* -------- Animations section --------- */

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

.onclick{
    -webkit-animation: click-buton 0.2s;
	        animation: click-buton 0.2s;
}

@-webkit-keyframes click-buton {
    0% {
        background-color: var(--yellow);
    }
    50% {
        background-color: #FFEC9B;
    }
    100% {
        background-color: var(--yellow);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-9-21 0:42:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

