

/* -------- Project style --------- */
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", system-ui;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
:root {
    --yellow: #FDCE00;
    --black: #000000;
    --text-gray: #7E7E7E;
    --item-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --image-box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}

h2 {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
}

h3 {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: var(--yellow);
}
p {
    margin: 0;
}


/* -------- Cart style ---------- */

#cart {
    scale: 1;
    position: fixed;
    width: 812px;
    height: 634px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 5;
    transition: 200ms ease-in-out;
    
}
#cart #x {
    cursor: pointer;
}
#cart.active {
    transform: translate(-50%, -50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    pointer-events: none;
    z-index: 4;
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}
#all-content-container.active {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* -------- Header style ---------- */
#container {
    transition: opacity 0.3s;
}
header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 128px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    box-shadow: -6px 6px 15px -5px rgba(0,0,0,0.1);
}

header #top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 66px;
    padding-right: 66px;
}

header #top-header #vaca-logo {
  margin-left: 77px;
}

header #top-header #nav-right-section{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}

header #top-header #nav-right-section #language-selector {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

header #top-header #nav-right-section #language-selector img {
    height: 30px;
}

#cart-icon {
    position: relative;
}

#cart-icon img {
    height: 35px;
}

#cart-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: -20%;
    right: -10px;
}

header #top-header #back-button {
    transform: translateX(-8px);
    display: flex;
    flex-direction: row;
    width: 68px;
    justify-content: space-between;

}

header #top-header #back-button p {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

header #bottom-header {
    padding: 0;
    padding-left: 66px;
    padding-right: 66px;
}

#nav {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 0;
}

.sticky {
    transform: translateY(-81px);
}




/* ------- Menu section -------- */
#container {
    padding-left: 66px;
    padding-right: 66px;
    margin-top: 150px;
}

.item {
    margin-top: 61.5px;
}

.item p {
    color: var(--text-gray);
    font-size: 12px;
}

.card-body {
    background-color: white;
    width: 167px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px 20px 25px;
    gap: 20px;
    box-shadow: var(--item-box-shadow);
}
.items-container-menu {
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.item .item-image {
    width: auto;
    height: 123px;
}
.item .image-cropper {
    width: 123px;
    height: 123px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--image-box-shadow);
}
.item-image-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 47px -61.5px;
}
.item h2 {
    text-align: center;
}
.sticker-container {
    position: absolute;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    translate: 203px 20px;
    mix-blend-mode: multiply;
}
/* -------- Menus section --------- */

#menus .card-body {
    height: 257px;
    
}







/* ----------------------------------------------
 * Generated by Animista on 2024-9-21 0:42:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }